@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: black;
}
a, a:hover {
    text-decoration: none;
}

.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}
.link_form {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 150px;
    top: 1rem;
    right: 1rem;
    text-decoration: underline;
}
section {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #ddd;
}
section div:hover {
    opacity: 0.7;
}
.timer_lutin {
    width: 300px;
    height: 500px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px;

    background-image: url(../Image/bc1.png);
}

.community {
    width: 350px;
    height: 550px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px;

    background-image: url(../Image/bc2.png);
}
.chart {
    width: 300px;
    height: 500px;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 10px;

    background-image: url(../Image/bc3.png);
}
.txt h2 {
    display: flex;
    justify-content: center;

    line-height: 400px;
}
